body {
    margin-right: 0px;
}

.block {
    display: inline-block;
    box-sizing:border-box;

    background:rgb(54, 0, 180);
    color:white;
    background: #03a9f4;
   
    color: white;
    width: 40%;
    margin-right: 20px;
    margin-top: 10px;
    padding:40px;
}
/*.block div{


}
.block img {

}

.block p{

}*/
.block p{
    text-align:center;
}

.block button{
    text-align:center;
}

.block-black{
    background-color:black;
}

/*.block img {
width:380;*
height:280;*
}*/

.blocked {
    display: inline-block;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1;
    background: red;
    color: white;
    width: 420px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10 px;
    padding-bottom: 15px;
    border: 10px dashed green;
    margin-top: 15px;
}

.header{
padding:75px 0;
margin-bottom:25px;
}
.nav{
height:100%;
width:45%;
margin: 0 auto;
display:inline-block;
}
.list{
    margin:0;
    padding:0;
    height:100%;

    margin:0 auto;

}
.list-item{
    display:inline-block;
}
.list-link:hover{
    /*text-transform: uppercase;
    text-decoration: none;*/
    color:white;
    background:black;

   /* padding:10px 15px;
    background-color: green;*/


}
.list-link{
    text-transform: uppercase;
    text-decoration: none;

}

